name: Python Flask Continuous Integration

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:

  linting:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install linting tool
      run: pip install flake8
    
    - name: Linting
      run: flake8 app/

  testing:
    needs: linting
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install testing tool
      run: pip install pytest

    - name: Run test
      run: python -m pytest

  image:
    needs: testing
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build . -t marvkos/sdp-flask
