name: Python Flask Continuous Integration

on:
  push:
    branches: [ "main" ]

jobs:

  linting:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install linting tool
      run: pip install flake8
    
    - name: Linting
      run: flake8 /app

  image:
    needs: linting
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build . -t marvkos/sdp-flask
